*.exe
*.zip
psp
PSP
tmp
gamelist.xml
*.iso
*.cso
*.ISO
*.CSO

ARCADE
ATARI2600
ATARI5200
ATARI7800
ATARILYNX
CPS1
CPS2
CPS3
DC
FBNEO
FBNEO ACT
FBNEO ETC
FBNEO FLY
FBNEO FTG
FBNEO STG
FC
GAMEGEAR
GB
GBA
GBC
GENESIS
GG
LYNX
MAME
MD
MEGADRIVE
N64
NAOMI
NES
NGPC
PCE
PCENGINE
PS1
PSP
SFC
SMS
SNES
WS
WSC